<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "EMuRgency-phonegap-port"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>EMuRgency</name>

    <description>
        Mock up
    </description>

    <author href="" email="">
        Sascha Eiteneuer
    </author>

    <content src="index.htm" />
    
	<preference name="phonegap-version" value="3.1.0" />
	<preference name="target-device" value="universal" /> 
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true"/>
	
	<access origin="*" />
</widget>
