body {
    margin: 2em 0 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #6298CF;
    background-image: url('/ios/img/background_gradient.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

img {
    vertical-align: middle;
}

input {
    margin: 1em 0.5em;
    padding: 1em 3em;
    border: solid 0.25em #6298CD;
    border-radius: 0.5em;
    background-color: #fff;
}

@media screen and (max-device-width: 480px) {
    input[type='checkbox'] {
        position: relative;
        left: 40px;
        vertical-align: middle;
    }

    #login-form span {
        position: relative;
        left: -20px;
    }
}

input:active, input:focus {
    border-color: #315B83;
}

.input {
    background-image: linear-gradient(to right, #4B71A6 12%, #fff 12%);
}

.input:active, .input:focus {
    background-image: linear-gradient(to right, #315B83 12%, #fff 12%);
}

.std-button {
    color: #fff;
    border-color: linear-gradient(#6298cf, #447db7);
    background-image: linear-gradient(#6298cf, #447db7);
}

.std-button:active {
    border-color: #315B83;
    background-image: linear-gradient(#3d75ac, #295e95);
}

.std-button:focus {
    border-color: #6298CD;
}

#login {
    position: relative;
    text-align: center;
    color: #fff;
}

#logos {
    margin: auto;
}

#dash-board {
    height: auto;
}

.dash-board-tab {
    background-color: #fff;
}

#header {
    padding: 0.8em 0.5em 0em;
    background-image: linear-gradient( rgba(0,0,0,0) 92%, #4278AF 92% );
}

#back-button {
    color: #fff;
    font-size: 5em;
}

.tab {
    padding: 1em 2em;  
}

.tab-active {
    border: solid 0.1em #315B83;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-image: linear-gradient( #3d75ac, #295e95 92%, #093E75 92% );
}

#footer {
    padding: 0.8em 2em;
    position: relative;
    color: #fff;
    text-align: center;
    background-color: #2a3845;
    background-image: linear-gradient( #000 2%, #2a3845 15% );
}

.item {
    background-image: linear-gradient( #fff 10%, #f0f0f0 99%, #c0c0c0 99% );
}

.item-thumb {
    width: 48px;
    height: 48px;
    margin: 0em 0.4em;
    padding: 0.3em;
    vertical-align: middle;
    background-color: #474747;
    float: left;
}

.item-content {
    padding: 0.5em;
    float: left;
}

#news-footer {
    height: 0.3em;
    background-color: rgba(0,0,0,0.1);
    position: relative;
    top: -0.3em;
}
